header{
    height: auto;
    margin: auto;
    position: relative;
    /* background-color: aqua; */
    border-top: 2.5px solid palevioletred;
    position: relative;
}
.logo{
    width: 92px;
    height: 92px;
    margin: auto;
}
.logo a{
    display: block;
    width: 92px;
    height: 92px;
    background: url(../images/logo.png);
    text-indent: -9999px;
}
.gnb_wrap{
    max-width:1200px;
    height: 66px;
    position: relative;
    /* border: 1px solid red; */
    margin: auto;

}
.gnb{
    width: 20%;
    float: left;
    text-align: center;
    margin: auto;
    line-height: 66px;
    font-weight: bold;
    font-size: 20px;
}
.user_menu{
    width: 200px;
    border: 1px solid red;
}
.user_wrap{
    
}
/* .user_menu ul li{
    float: left;
} */
.user_txt1::after{
    content: "|";
}


.main_image{
    max-width: 1600px;
    margin: 0 auto;
    height: auto;
    position: relative;
    
}
.main_image img{
    width: 100%;
    min-height: 300px;

}

.main_image .slick-prev{
    width: 100%;
    max-width: 88px;
    height:88px;
    background: url(../images/main_left.png)no-repeat;
    border: none;
    text-indent: -9999px;
    position: absolute;
    left:30px;
    top: 50%;
    margin-top: -40px;
    z-index: 9998;
    cursor: pointer;
}
.main_image .slick-next{
    width: 88px;
    height:88px;
    background: url(../images/main_right.png)no-repeat;
    border: none;
    text-indent: -9999px;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -40px;
    z-index: 9998;
    cursor: pointer;
}
.cont1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 700px;
    position: relative;
}
.cont1 h2{
    text-align: center;
    padding: 20px;
}
.hersh_logo{
    width: 247px;
    height: 122px;
    background: url(../images/메인페이지_03.png) no-repeat;
    margin: auto;
    text-indent: -9999px;
}
.ice_info{
    display: block;
    width: 100%;
    max-width: 538px;
    height: 418px;
    background: url(../images/cont1.png) no-repeat;
    margin-top: 30px;
    margin-left: 20px;
    text-indent: -9999px;
    float: left;
}
.txt_wrap{
    width: 100%;
    max-width: 340px;
    display: block;
    float: left;
    margin-left: 140px;
    margin-top:140px;
}

.txt1{
    width: 100%;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
}
.txt2{
    font-size: 18px;
}
.cont1 button{
    width: 220px;
    height: 40px;
    border: none;
    margin-top: 40px;
    border-radius: 50px;
    background-color: #46000f;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.cont2_back{
    width: 100%;
    max-width: 1600px;
    height: 440px;
    margin: auto;
    background: url(../images/menu_back.jpg) no-repeat;
    position: relative;
}
.cont2{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    /* background: url(../images/menu_back.jpg) no-repeat; */
}

.cont2 h2{
    text-align: center;
    padding: 40px;
}
.cont2 ul {
    display:flex;
    flex-wrap:wrap;
    margin-top: 50px;
}
.cont2 li{
    width: 20%;
    /* border: 1px solid red; */
    box-sizing: border-box;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.cont2 li div{
    width: 100%;
    max-width: 240px;
    height: 160px;
    /* border: 1px solid blue; */
    box-sizing: border-box;
}

.m_1 img{
    width: 100%;
    max-width: 131px;
    height: auto;
    display: block;
    margin: auto;
}

.m_2 img{
    width: 100%;
    max-width: 89px;
    height: auto;
    display: block;
    margin: auto;
}
.m_3 img{
    width: 100%;
    max-width: 126px;
    height: auto;
    display: block;
    margin: auto;
}
.m_4 img{
    width: 100%;
    max-width: 77px;
    height: auto;
    display: block;
    margin: auto;
}
.m_5 img{
    width: 100%;
    max-width: 102px;
    height: auto;
    display: block;
    margin: auto;
}
.cont2 button{
    font-size: 16px;
    border-radius: 10px;
    border: 1.5px solid #de5b9e;
    padding: 4px 16px;
    background-color: #fff;
    margin-top: 20px;
    cursor: pointer;
}
.cont3{
    width: 100%;
    max-width: 1200px;
    height: 500px;
    box-sizing: border-box;
    margin: auto;
    border-top: 1px solid #cbcbcb;
}
.cont3 h2{
    text-align: center;
    margin-bottom: 30px;
    padding: 40px;
}
.cont3_wrap{
    width: 100%;
    max-width: 1200px;
    padding: 0 50px;
    margin: auto;
}
.cont3_wrap a{
    text-indent: -9999px;
}
.cont3_wrap img{
    margin:auto;
    border: 0.5px solid #cbcbcb;
}
.cont3_wrap .slick-prev{
    width: 20px;
    height:49px;
    background: url(../images/cont3_left.png)no-repeat;
    border: none;
    text-indent: -9999px;
    position: absolute;
    left:30px;
    top: 50%;
    margin-top: -40px;
    z-index: 9998;
    cursor: pointer;
}
.cont3_wrap .slick-next{
    width: 20px;
    height:49px;
    background: url(../images/cont3_right.png)no-repeat;
    border: none;
    text-indent: -9999px;
    position: absolute;
    right: 28px;
    top: 50%;
    margin-top: -40px;
    z-index: 9998;
    cursor: pointer;
}
.cont3_slick img{
    width: 100%;
    max-width: 289px;
}
.cont4{
    width: 100%;
    max-width: 1200px;
    height: 437px;
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    background: url(../images/store_find.jpg)no-repeat;
    margin: auto;
}
.cont4 h2{
    padding: 40px;
}
.cont4 p{
    padding: 50px;
}
footer{
    width: 100%;
    height: 260px;
    background-color: #fcf2f7;
    font-size: 14px;
    color: #858585;
    margin: auto;
    text-align: center;
}
.ft_wrap{
    width: 1200px;
    margin: auto;
    text-align: center;
}
.ft_wrap li {
    float: left;
}

footer li::after{ 
    margin: 10px;

    content: "|" ;
}

@media screen and (max-width:639px){/*최소크기 넣어주기*/
    header{
    margin: auto;
    position: relative;
    /* background-color: aqua; */
    border-top: 2.5px solid palevioletred;
    position: relative;
    }
    .logo{
        width: 61px;
        height: 64px;
        margin: auto;
    }
    .logo a{
        width: 61px;
        height: 64px;
        display: block;
        background: url(../images/mobile_logo.png) no-repeat;
        text-indent: -9999px;
    }
    .gnb_wrap{
        width: 100%;
        max-width: 60px;
        background:url(../images/mobile_03.png) no-repeat;
        text-indent: -9999px;
        position: absolute;
        top: 16px;
        left: 20px;
        cursor: pointer;


    }


}
